@import 'qq';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'fontawesome';
@import 'bootstrap_restyle';

:root {
    --ck-border-radius: #{$border-radius} !important;
    --ck-custom-border: #{$hr-border-color} !important;
    --ck-color-focus-border: #{$input-focus-border-color} !important;
}

.maps-embed {
    border: 0;
    border-radius: $border-radius;
    height: 250px;
    width: 100%;
    padding: 0;
}

.session-square {
    //background: linear-gradient(45deg,#{lighten($red-100, 8%)} 0,#{lighten($orange-100, 8%)} 100%);
    background: lighten($red-100, 8%);
}

@include media-breakpoint-up(md) {
    .sole-session-map-container {
        width: 50% !important;
    }
}

@include media-breakpoint-up(lg) {
    .sole-session-map-container {
        width: 66% !important;
    }
}

.vdivide > div:nth-child(even) {
    border-left: 1px solid $gray-200;
}

@media (max-width: 991px) {
    .vdivide > div:nth-child(even) {
        border-left: 0;
    }
}

.small-msg {
    font-size: 0.9em;
    margin-top: 0.25rem;
    font-weight: 300;
}

.cursor-default {
    cursor: default;
}

.mb-4-5 {
    margin-bottom: $spacer * 2.5;
}

.mb--4-5 {
    margin-bottom: -$spacer * 2.5;
}

.title {
    font-weight: bold;
}

.titlebuttons {
    position: relative;
    top: -5px;
    white-space: nowrap;
}

.smalltitle {
    color: $custom-title-color;
}

#fieldset-carousel {
    position: relative;
    overflow: hidden;
}

@mixin fieldset-move {
    width: 100%;
    transition: left 0.5s ease;
}

fieldset.first {
    @include fieldset-move;
    position: relative;
    float: left;
    left: 0;
}

fieldset.second {
    @include fieldset-move;
    position: absolute;
    left: 100%;
}

#progressbar {
    padding: 0;
    font-size: 10pt;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    li {
        flex: 1 0 0;
        color: $gray-500;
        text-align: center;

        // Icons
        svg {
            display: block;
            width: 30px;
            height: 30px;
            padding: 10px;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            background: $gray-200;
        }

        // Horizontal bar
        & + li:after {
            content: '';
            width: 100%;
            height: 8px;
            display: block;
            position: relative;
            left: -50%;
            top: calc(-10pt - 36px); // -58 + 1 (for some reason not doing this does not align properly to the top) + 25 - 4 = 36
            z-index: -10;
            background: $gray-200;
        }

        // Active styling
        &.active {
            color: $green;
            svg, &:after {
                background: $green;
                color: white;
            }
        }
    }
}

.question-btn {
    padding-left: 1px;
    padding-right: 0;
    padding-top: 8px;
}

.ico-l--1 {
    margin-left: -2px;
    width: initial !important;
}

.ico-sm--1 {
    width: initial !important;
    margin-top: 2px;
}

.text-dates {
    color: $red;
    font-size: 0.9em;
}

.card-subtitle {
    display: block;
}
